extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Ysabeau:wght@1&display=swap" rel="stylesheet")
  body
    h1(style="color: white")  Login
    a(href="/") Go back 
    div.form-container
        
        form.auth-form(action="" method="POST")
            p(class="login-info") Username
            input(type="input" name="username")
            p(class="login-info") Password
            input(type="password" name="password")
            br
            br
            input(type="submit" value="Login")
    if errors
        ul
            for error in errors
                li!= error.msg
            
