extends layout

block content
    h1 h1 Welcome!!!
    p #{title}
        
    div.form-container
        form.auth-form(action="" method="POST")
            p Username
            input(type="input" name="username")
            p Password
            input(type="password" name="password")
            br
            br
            input(type="submit" value="Login")
    if errors
        ul
            for error in errors
                li!= error.msg
            
