extends layout

block content
    h1(style="color: white")  Login
    a(href="/") Go back 
    div.form-container
        
        form.auth-form(action="" method="POST")
            p(class="login-info") Username
            input(type="input" name="username")
            p(class="login-info") Password
            input(type="password" name="password")
            br
            br
            input(type="submit" value="Login")
    if errors
        ul
            for error in errors
                li!= error.msg
            
