extends layout

block content
  if user
    p Hello #{user.username} 
    a(href="/log-out") Logout
    br
    a(href="/") Back
    br
    
    form(method='POST' action='')
      p(class="new-msg-info") Message Title
      input(type="text" name="title")
      p(class="new-msg-info") Message Content
      textarea(name="message", cols="30", rows="10") 
      br
      br
      input(type="submit" value="Submit")
  else
    a(href="/") Please login first