extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    h1(style="color: white")  Welcome!
    p(class="signup-info") Enter your username and password below. Enter the admin code for admin privileges. Usernames must be between 2-24 characters. Passwords must be at least six characters
    a(href="/login") Already a member?
    div.form-container
        form.auth-form(action="" method="POST")
            p(class="signup-info") Username
            input(type="input" name="username")
            if (userError) 
                p(style="color: red") #{userError}
            p(class="signup-info") Password
            input(type="password" name="password")
            if (passwordError)
                p(style="color: red") #{passwordError}
            p(class="signup-info") Admin code
            input(type="password" name="admin")
            br
            input(type="submit" value="OK")
    if errors
        ul
            for error in errors
                li!= error.msg
        
